
* {
    color: #696969;
}


main {
    padding: 0;
}

main h1 {
    font-size: 50pt;
}

main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div#left {
    margin-top: 30px;
}

main div#right #backBt {
    background-color: #696969;
    color: white;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 30px;
}

div#socialMedia {
    flex-direction: row;
    gap: 15px;
    margin: 0;
    margin-bottom: 50px;
}

div#socialMedia li {
}


@media (min-width: 600px) {
    main {
        height: 70%;
    }

    main div#left {
        float: left;
    }
    
    main div#left h1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    main div#right {
        float: right;
    }

    main div {
        width: 50%;
        height: 100%;
    }

    main h1 {
        font-size: 70pt;
    }
}