:root {
    --main-bc-c: rgb(238, 238, 238);
}

html, body {
    height: 100%;
}

body {
    background-color: var(--main-bc-c);
    margin: 0;

    display: flex;
    flex-direction: column;
}

div#wrapper {
    flex: 1 0 auto;
}

* {
    /* Hide all Outlines of focused Elements */
    outline: none;

    font-family: "Open Sans", sans-serif;
}


a {
    text-decoration: none;
    color: black;
}



main {
    background-color: white;
    border-radius: 10px;

    padding: 10px;
    padding-bottom: 20px;
    
    margin: 30px;
}

@media (min-width: 600px) {
    main {
        background-color: white;
        border-radius: 10px;
    
        padding: 10px;
        padding-bottom: 20px;
        
        width: 70%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


main a {
    color: blue;
}

main a:hover {
    text-decoration: underline;
}

main section {
    padding-bottom: 5px;
}


main div.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: var(--main-bc-c);
    border-radius: 5px;
    padding: 10px;
}

main div.images img {
    padding: 5px;
    width: 90%;
}

main div.images img.Portrait {
    width: 30%;
}

@media (min-width: 600px) {
    main div.images img {
        padding: 5px;
        width: unset;
        height: 200px;
    }
    
    main div.images img.Portrait {
        width: unset;
    }

    main div.images img.landscape {
        height: 50px;
    }
}

hr {
    border: 1px solid black;
}




footer {
    flex-shrink: 0;


    background-color: black;
    width: 100%;
    padding: 5px 0;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

footer div {
    display: flex;
    justify-content: center;
}

footer div * {
    color: white;
    font-size: 15pt;
    padding: 5px;
}

footer div#otherLinks * {
    font-size: 12pt;
    align-self: center;
}

@media (min-width: 600px) {
    footer {
        flex-direction: row;
    }
    
    footer div#otherLinks {
        width: 0;
        justify-content: flex-end;
    }

    footer div#otherLinks * {
        white-space: nowrap;
    }
    
    footer div#otherLinks:last-child {
        padding-right: 5px;
    }
}


footer i#twitter:hover {
    color: rgb(0, 172, 237);
}

footer i#mail:hover {
    color: rgb(230, 55, 52);
}

footer i#github:hover {
    color: rgb(199, 0, 199);
}

footer i#linkedIn:hover {
    color: #0274b3;
}




code {
    display: block;
    background-color: var(--main-bc-c);
    border-radius: 5px;
    
    margin: 5px 0;
    border: 1px gray solid;
    width: min-content;
}

pre {
    overflow: auto;
}