@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('fonts/PlusJakartaSans-VariableFont_wght.ttf'), format('truetype');
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;

  margin: 0;
  padding: 0;

  color: #6b6b6b;
}

h1 {
  font-weight: 300;
}

body {
  min-height: 100vh;
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hello-title {
  font-weight: bolder;
  font-size: 60pt;
  font-style: italic;

  text-shadow: 6px 0 1px rgba(189, 189, 189, 1);
}

/* -- TOFT -- */

.icon {
  width: 40px;
  margin-top: auto;
  margin-bottom: auto;
  fill: #6b6b6b;
  filter: drop-shadow(6px 0 1px rgba(189, 189, 189, .8));
}

.icon:hover {
  fill: #3b3b3b;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2.625rem;
  margin-bottom: 3.9rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 14.25pt;
}